<mat-card [id]="cardId">
    <mat-card-header>
        <mat-card-title>
            <ng-content select=".title"></ng-content>
        </mat-card-title>

        <img mat-card-avatar src="assets/images/mountain-image.jpg"/>
    </mat-card-header>
    <mat-card-content>
        <ng-content select=".content"></ng-content>
        <mat-list *ngIf="list">
            <mat-list-item *ngFor="let listItem of list">
               <div> {{listItem}} </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    
    <mat-card-actions>
        <button mat-fab extended (click)="reverseArrowAction()" *ngIf="reverseArrowAction">
            <mat-icon>arrow_back</mat-icon>
            reverse
        </button>
        <button mat-fab extended (click)="forwardArrowAction()" *ngIf="forwardArrowAction">
            <mat-icon>arrow_forward</mat-icon>
            forward
        </button>
    </mat-card-actions>
</mat-card>
